{% extends 'layouts/master.html' %}

{% block content %}

<form method="post" action="{% url 'update_post' post.id %}">
    {% csrf_token %}
    <div class="row mb-5">
      <div class="col-3">
        <input name="title" value="{{post.title}}" type="text" class="form-control" placeholder="title...">
      </div>
      <div class="col-3">
        <input name="text" type="text" value="{{post.text}}" class="form-control" placeholder="text...">
      </div>
      <div class="col-3">
        <input type="submit" class="btn btn-success" value="update post">
      </div>
    </div>
  </form>
  
  {% endblock %}