{% extends 'layouts/master.html' %}

{% block content %}

    {% include 'layouts/success.html' %}

    <a href="{% url 'home' %}" class="btn btn-primary">main page</a>
    <hr>

        <div class="mb-4">
          <h2>{{post.title}}</h2>
          <p>{{ post.text }}</p>
          <hr>
        </div>
      
    
       <div>
      <form action="{% url 'create_comment' post.id %}" method="post">
        {% csrf_token %}
        <textarea placeholder="add comment for this post..." name="text" cols="40" rows="5"></textarea>
        <input  type="submit" value="send" class="btn btn-success">
      </form>
      </div>
  

      {% for comment in comments %}
      <div class="bg-light px-3 py-3 mb-3">
          <p class="">{{comment.text}}</p>
      </div>
      {% endfor %}
{% endblock content %}